[Unit]
Description=Application service from deeplay

[Service]
Type=simple
ExecStart=java -jar path_to_file some_out_file "Service is working!"
Restart=on-failure
RestartSec=15
[Install]
WantedBy=multi-user.target
